@import 'colors';

$color_card_background: $color_white;

ol.schedule {
    &, ol, ul {
        padding: 0;
        list-style: none;
    }
     
    ol, ul {
        margin: 0;
    }

    max-width: 30rem;
    margin: 0 auto;
    padding: 0.5rem;

    > li + li {
        margin-top: 1.5rem;
    }

    $item_spacing: 0.5rem;

    > li {
        display: flex;
        flex-wrap: wrap;

        margin: -$item_spacing;

        > * {
            margin: $item_spacing;
        }
    }

    .date {
        position: sticky;
        top: 0.5rem;
        align-self: flex-start;
        width: 5.5em;

        color: $color_white;
        background-color: $color_primary;
        border-radius: 0.2rem;
        
        padding: 0.3rem 0.4rem;
        box-shadow: 0.05rem 0.05rem 0.2rem rgba(0, 0, 0, 0.2);
    }

    .events {
        flex: 20rem;

        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 0.5rem;
    }

    .event {
        display: flex;
        flex-direction: column;

        background-color: $color_card_background;
        border-radius: 0.3rem;

        padding: 0.5rem;
        box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.2);

        .quick-info {
            font-family: 'Courier New', Courier, monospace;
            font-weight: normal;
            font-size: 110%;
            color: $color_primary;
        }

        h2.title {
            font-size: 150%;
            color: $color_primary;
            margin: 0;
            margin-bottom: 0.5rem;

        }

        .content {
            display: grid;
            grid-gap: 0.5rem;
            grid-template-columns: auto;
        }
    }
}