@import 'widgets';

main > ol.events {
    max-width: 36em;
    margin: 0 auto;

    &, ol, ul {
        @extend %reset-list;
    } 

    @extend %list-spacing;

    > li {
        @extend %card;
    }

    .event {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .overview {
            flex-basis: 12em;
        }

        .quick-info {
            @extend %quick-info;
        }

        .overflow {
            font-style: italic;
            @extend %quick-info;
        }
    }
}