@import 'colors';

$color_card_background: $color_white;

ol.schedule {
    &, ol {
        padding: 0;
        list-style: none;
    }
     
    ol {
        margin: 0;
    }

    display: flex;
    flex-direction: column;
    max-width: 30em;
    margin: 0 auto;

    > li + li {
        margin-top: 1.5em;
    }

    > li {
        display: flex;
        flex-wrap: wrap;
    }

    .date {
        position: sticky;
        top: 0;

        align-self: flex-start;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
        width: 6em;

        font-size: 110%;
        color: $color_white;
        background-color: $color_accent;
        border-radius: 0.2em;
        
        padding: 0.3em;
        box-shadow: 0.05em 0.05em 0.2em rgba(0, 0, 0, 0.2);
    }

    .events {
        flex: 13em;

        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 0.5em;
    }

    .event {
        display: grid;
        grid-template-areas:
            "title title"
            "infos description";
        grid-template-columns: auto 1fr;
        grid-row-gap: 0.5em;

        background-color: $color_card_background;
        border-radius: 0.3em;

        padding: 0.5em;
        max-width: 20em;
        box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.2);

        h2.title {
            grid-area: title;

            color: $color_accent;
            margin: 0;
        }

        .quick-info {
            grid-area: infos;

            padding-right: 0.5em;
            margin-right: 0.5em;
            border-right: 2px solid $color_accent;
        }

        .description {
            grid-area: description;
        }
    }
}