@import 'widgets';
@import 'colors';

main > ol.schedule {
    &, ol, ul {
        @extend %reset-list;
    }
     
    ol, ul {
        margin: 0;
    }

    max-width: 30rem;
    margin: 0 auto;
    padding: 0.5rem;

    @extend %list-spacing;

    $item_spacing: 0.5rem;

    > li {
        display: flex;
        flex-wrap: wrap;

        margin: -$item_spacing;

        > * {
            margin: $item_spacing;
        }
    }

    .date {
        position: sticky;
        top: 0.5rem;
        align-self: flex-start;
        width: 5.5em;

        color: $color_white;
        background-color: $color_primary;
        border-radius: 0.2rem;
        
        padding: 0.3rem 0.4rem;
        box-shadow: 0.05rem 0.05rem 0.2rem rgba(0, 0, 0, 0.2);
    }

    .events {
        flex: 20rem;

        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 0.5rem;
    }

    .event {
        display: flex;
        flex-direction: column;

        @extend %card;

        .quick-info {
            font-size: 110%;
            @extend %quick-info;
        }

        h2.title {
            font-size: 150%;

        }

        .content {
            display: grid;
            grid-gap: 0.5rem;
            grid-template-columns: auto;
        }
    }
}